# === General Directories and Files ===
*.log
*~
*.tmp

# === Visual Studio ===
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# ... [many more lines]

# === Visual Studio for Mac ===
Makefile.in
*.userprefs
*.usertasks
# ... [more lines]

# === macOS ===
.DS_Store
.AppleDouble
.LSOverride
# ... [more lines]

# === Windows ===
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
# ... [more lines]

# === IDEs & Editors ===
# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === CMS & Other Environments ===
# Umbraco CMS
appsettings-schema.json
/umbraco/Data/CreatedPackages/
/umbraco/Data/TEMP/
/umbraco/Logs/
